
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* NÃO ALTERAR ESSAS PROPRIEDADES DO BODY */
body {
    /* Altura em 100% do tamanho da janela */
    height: 90vh;
    /* Habilita o posicionamento Flexbox */
    /* Transforma todos em filhos em flex itens */
    display: flex;
    /* Alinha os elementos na horizontal */
    justify-content: center;
    /* Alinha os elementos na vertical */
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    background-image: url("https://bit.ly/3w0bYwr");
    justify-content: center;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    height: auto;
    background-color: blueviolet;
    padding: 6.25rem;
    background-image: linear-gradient(to right, rgb(123, 165, 114), rgb(48, 121, 87));
    color: white;
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;

}

#button {
  
    width: 20rem;
    height: 2rem;
    box-shadow: white;
    background-color: ;
}
